.subtitle {
    font-size: 20px;
    font-family: "Press Start 2P", sans-serif;
    text-shadow: 4px 4px 0 grey;
    color: white;
}   

.skill .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}